.menuWrapper{
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    text-transform:uppercase;
    letter-spacing: normal;
    line-height: 1.45em;
    position:relative;
    margin:20px auto;
    /*height:542px;*/
    height:320px;
    width:994px;
    background-position:0 0;
    background-repeat:no-repeat;
    background-color:transparent;
}
ul.menu{
    list-style:none;
    width:994px;
}
ul.menu > li{
    float:left;
    width:188px;
    /*height:542px;*/
    height:320px;
    border-right:1px solid #777;
    background-repeat:no-repeat;
    background-color:transparent;
}
ul.menu > li:first-child{
    width:238px;
}
ul.menu  li.last{
    border:none;
}
ul.menu  li  a{
    float:left;
    width:188px;
    height:50px;
    /*margin-top:450px;*/
    margin-top:250px;
    text-align:center;
    line-height:50px;
    color:#ddd;
    background-color:#333;
    letter-spacing:1px;
    cursor:pointer;
    text-decoration:none;
    text-shadow:0 0 1px #fff;
}
ul.menu  li:first-child  a{
    width:238px;
}
ul.menu li ul{
    list-style:none;
    float:left;
    margin-top:-180px;
    width:100%;
    height:110px;
    padding-top:20px;
    background-repeat:no-repeat;
    background-color:transparent;
}
ul.menu li ul li{
    display:none;
}
ul.menu  li ul.sub2{
    background-image:url('/images/slider/bg2sub.png');
}
ul.menu  li ul.sub3{
    background-image:url('/images/slider/bg3sub.png');
    margin-top:-206px!important;
    height:136px!important;
}
ul.menu  li ul li a{
    color:#fff;
    text-decoration:none;
    line-height:30px;
    margin-left:20px;
    text-shadow:1px 1px 1px #444;
    font-size:11px;
    margin-top: 0;
    background-color: transparent;
    width: 100%;
    text-align: left;
    border: none!important;
    height: 30px;
}
ul.menu  li ul.sub1 li{
    display:block;
}
ul.menu  li ul li a:hover{
    border-bottom:1px dotted #fff;
}