/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html {width:100%;}

body { 	 
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-size:100%; 
	color:#a29f87;
	min-width:1000px;
	background: #c3c3c3;
}

.border-top {
	width:100%;
	background:url(../images/border-top.gif) 0 20px repeat-x;
}

.main {
	width:1000px; 	
	padding:0;
	margin:0 auto;
	font-size:0.8125em;
	line-height:1.3846em;
    background-image: url("/images/20jaer.png");
    background-repeat: no-repeat;
}

a {color:#e5ae25; outline:none;}
a:hover {text-decoration:none;}

.col-1, .col-2 {float:left;}

.wrapper {width:100%; overflow:hidden; position:relative;}
.extra-wrap {overflow:hidden;}
 
p {margin-bottom:18px;}
.p0 {margin-bottom:0px;}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}
.p6 {margin-bottom:60px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.it {font-style:italic;}

.color-1 {color:#816c54;}
.color-2 {color:#878364;}
.color-3 {color:#e5ae25;}
.color-4 {color:#503618;}

.bcolor-1 {background:#e8e8e8;}

.index-1 {position:relative; z-index:1;margin: 0 auto}
.index-2 {position:relative; z-index:2;}

/*********************************boxes**********************************/
.indent {padding:0 27px 27px 27px;}
.indent2 {padding:0 10px 27px 27px;}
.indent-top {padding-top:10px;}
.indent-top2 {padding-top:20px;}
.indent-top3 {padding-top:30px;}
.indent-left {padding-left:12px;}
.indent-right {padding-right:50px;}

.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:24px;}
.indent-bot3 {margin-bottom:45px;}

.prev-indent-bot {margin-bottom:10px;}
.img-indent-bot {margin-bottom:25px;}
.margin-bot {margin-bottom:35px;}
.margin-top {margin-top:-25px;}

.img-indent {float:left; margin:0 25px 0px 0;}	
.img-indent2 {float:left; margin:0 20px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.buttons a:hover {cursor:pointer;}

.menu li a,
.list-2 li a,
.link,
.button,
h1 a {text-decoration:none;}	

/*********************************header*************************************/
header {
	width:100%;
	position:relative;
	z-index:1;
}

h1 {
	padding:40px 0 0 18px; 
	margin-bottom:27px;
	position:relative;
}
	h1 a {
		display:block; 
		width:233px;
		height:70px;
		text-indent:-9999em;
		background:url(../images/logo.png) 0 0 no-repeat;
	}
	h1 span {
		display:inline-block;
		font-size:12px;
		line-height:1.25em;
		color:#83816d;
		font-weight:normal;
		padding-top:39px;
		margin-left:-75px;
	}
	
.menu-row  {
    margin: 50px auto 0;
	background:#fff;
	border-top:1px solid #d6d5d3;
	border-right:1px solid #d6d5d3;
	border-left:1px solid #d6d5d3;
}


/******* search-form ********/
#search-form {
	padding:32px 0 0 0;
	float:right;
}
#search-form input {
	color:#676767; 
	width:214px; 
	font-size:13px;
	line-height:1.2em;  
	padding:6px 10px; 
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	background:#fff; 
	border:1px solid #eee;
	float:right;
}
#search-form .btn {
	float:right;
	display:block; 
	width:49px;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:30px;
	font-weight:bold;
	text-align:center;
	color:#fff;
	background:url(../images/search-button-tail.gif) 0 0 repeat-x #342e27;
	text-decoration:none;
	overflow:hidden;
	margin-left:4px;
}
#search-form .btn:hover {background:#e5ae25;}

/*********************************content*************************************/
#content {
	width:100%; 
	position:relative;
	z-index:0;
    margin: 20px auto;
}

.content-bg {
	border-left:1px solid #d6d5d3;
	border-right:1px solid #d6d5d3;
	background:#fff;
	padding:63px 0 25px;
}
	#page1 .content-bg {padding:15px 0 25px;}
	#page3 .content-bg {padding:35px 0 60px;}
	#page4 .content-bg {padding:30px 0 25px;}
	#page5 .content-bg {padding:35px 0;}
	#page6 .content-bg {padding:35px 0 50px;}

.spacer-1 {
	width:100%; 
	background:url(/images/spacer.gif) 214px top repeat-y;
}
.spacer-2 {
	width:100%; 
	background:url(../images/spacer.gif) 334px top repeat-y;
}

h3 {
	font-size:38px; 
	line-height:2em; 
	padding:0 0 1px 10px;
	margin-bottom:25px;
	color:#503618;
	background:url(../images/pic-3.gif) left bottom repeat-x;
}
h4 {
	font-size:38px; 
	line-height:2em; 
	margin-bottom:25px;
	color:#503618;
}
h5 {
	font-size:28px; 
	line-height:2em; 
	color:#816c54;
	text-transform:uppercase;
	margin:-30px 0 -2px;
}

h6 {color:#7c6852;}

.title-1 {
	display:block;
	font-size:36px;
    line-height: 40px;
	color:#fff;
	text-transform:uppercase;
}
.title-2 {
	display:block;
	font-size:30px;
	line-height:2em;
	color:#fff;
	text-transform:uppercase;
	margin:-33px 0 -5px 0;
}
.title-3 {
	display:block;
	font-size:24px;
	line-height:2em;
	color:#503618;
}
.title-4 {
	display:block;
	font-size:28px;
	line-height:2em;
	color:#816c54;
	text-transform:uppercase;
	margin:-17px 0 -7px;
}
.title-5 {
	display:block;
	font-size:30px;
	line-height:2em;
	color:#503618;
	margin:0;
}

.border-bot1 {
	width:100%; 
	margin-bottom:5px;
	padding-bottom:18px; 
	background:url(../images/pic-1.gif) 0 bottom repeat-x;
}
.border-bot2 {
	width:100%; 
	margin-bottom:5px;
	padding-bottom:18px; 
	background:url(../images/pic-2.gif) 0 bottom repeat-x;
}
.border-bot3 {
	width:100%; 
	margin-bottom:30px;
	padding-bottom:18px; 
	background:url(../images/pic-4.gif) 0 bottom repeat-x;
}

.box-1 {
	width:100%;
    height: 152px;
	font-size:13px;
	line-height:16px;
	color:#fff;
	background:url(/images/box1-tail.gif) 0 0 repeat-x #c82411;
}
.box-2 {
	width:100%;
    height: 152px;
	font-size:13px;
	line-height:16px;
	color:#fff;
	background:url(/images/box2-tail.gif) 0 0 repeat-x #dca702;
}
	.box-1 .padding,
	.box-2 .padding {padding:0 25px 9px;}
	.box-1 .link-1,
	.box-2 .link-1 {color:#fff;}
	
blockquote {
	width:100%;	
	background:url(../images/quote.png) 15px 0 no-repeat;
	position:relative;
	overflow:hidden;
}
	blockquote .padding {padding:10px 0 0 55px;}
	blockquote p {
		font-size:18px;
		line-height:24px;
		color:#503618;
		font-style:italic;
		font-family:Georgia, "Times New Roman", Times, serif;
	}

.list-1 li {
	line-height:18px; 
	padding:2px 0 3px 23px; 
	background:url(../images/marker-1.png) 0 8px no-repeat;
}
	.list-1 li a {
		display:inline-block;
		color:#878573;
	}
	#content .list-1 li a {color:#7c6852; text-decoration:none;}
	.list-1 li a:hover {text-decoration:none;}
	#content .list-1 li a:hover {text-decoration:underline;}

.list-2 li {
	font-size:22px; 
	line-height:1.227em; 
	padding:5px 0 4px 15px; 
	background:url(../images/marker-3.png) 0 17px no-repeat;
}
	.list-2 li a {
		display:inline-block; 
		color:#503618;
	}
	.list-2 li a:hover {color:#E5AE25;}

.link:hover {text-decoration:underline;} 

.link-1 {
	display:inline-block; 
	font-size:23px; 
	line-height:1.2em; 
	color:#db371a;
}
.link-1:hover {color:#000;} 

.link-2 {
	display:inline-block; 
	font-size:23px; 
	line-height:1.2em; 
	color:#503618;
}
.link-2:hover {color:#E5AE25;} 

.link-3 {color:#735737; line-height:20px;}

.link-4 {
	display:inline-block; 
	padding-left:10px;
	color:#878573;
	background:url(../images/marker-2.png) 0 7px no-repeat;
	text-decoration:none;
}
.link-4:hover {text-decoration:underline;} 

.link-5 {
	display:inline-block; 
	padding-left:26px;
	color:#a29f87;
	background:url(../images/marker-4.gif) 0 0 no-repeat;
	text-decoration:none;
}
.link-5:hover {color:#db381a;} 

.text-1 {font-size:14px;} 
.text-2 {font-size:14px; line-height:1.285em;}  

.tdate-1 {
	display:block;
	font-size:36px;
	line-height:1.2em;
	width:51px;
	padding:0 0 12px;
	text-align:center;
	overflow:hidden;
	color:#fff;
	background:url(../images/tdate-bg.jpg) 0 0 no-repeat #342e26;
	float:left;
	margin-right:18px;
}
	.tdate-1 strong {
		display:block;
		font-size:20px;
		line-height:1.2em;
		margin-top:-13px;
	}

dl span {float:left; width:80px;}
dl dt {
	font-weight:bold;
	color:#7c6852;
	margin-bottom:15px;
}

.table td {
	border:1px solid #d8d3cd;
	padding: 4px 5px 5px 8px;
}
.table td.v-middle {vertical-align:middle;}
.table td:first-child {width:150px; padding-right:0; color:#7c6852;}
	.table a {color:#a29f87;}
	.table ul a {text-decoration:none;}
	.table ul a:hover {text-decoration:underline;}

/***** bx-slider1 *****/
.bx-window {
	min-height:812px;
	}
.slider-wrapper {padding-left:12px;}	
#slider {
	width:100%;
	height:811px;
	overflow:hidden;
	width:630px;
}
#slider li {
	width:100%;
	height:210px;
	margin:0;
	}
.bx-prev,
.bx-next {
	display:block;
	width:21px;
	height:21px;
	text-indent:-9999px;
	background:url(../images/bx-slide-control.png) left top no-repeat;
	position:absolute;
	z-index:99;
	left:0;
	bottom:-3px;
}
.bx-next {background-position:right bottom; left:100px;}
.bx-next:hover {background-position:right top;}
.bx-prev:hover {background-position:left bottom;}

.bx-pager {padding:15px 0 0 36px;}
.pager-link {
	display:inline-block;
	font-size:13px;
	line-height:18px;
	color:#a29f87;
	margin-right:11px;
	cursor:pointer;
	text-decoration:none;
}
.pager-link:hover, 
.pager-active{color:#503618; text-decoration:underline;}
.pager-active {cursor:default;}

/***** carousel-1 *****/
.jCarouselLite {height:440px !important; width:100%;}
.carousel .carousel-list li {margin-bottom:20px; width:100%; height:133px; overflow:hidden;}
.carousel ._prev,
.carousel ._next {
	display:block;
	width:25px;
	height:25px;
	text-indent:-5000px;
	background:url(../images/carousel-control.gif) left bottom no-repeat;
	cursor:pointer;
	position:absolute;
	right:54px; 
	top:54px;
	z-index:99;
}
.carousel ._next {background-position:right top; right:24px;}
.carousel ._next:hover {background-position:right bottom;}
.carousel ._prev:hover {background-position:left top;}

/***** contact form *****/
#contact-form {
	position:relative;
	vertical-align:top;
	width:100%;
	z-index:1;
	}
	#contact-form fieldset {
		border:none;
		padding:0;
		}			
			#contact-form label {
				display:block;
				min-height:40px;
			}
			#contact-form label.message {height:173px;}
			
			#contact-form input {
				width:231px;
				padding:8px 10px;
				margin:0;
				font-family:Arial, Helvetica, sans-serif;
				font-size:13px;
				line-height:1.23em;
				color:#a29f87; 
				border-left:1px solid #e7e7e7;
				border-right:1px solid #e7e7e7;
				border-bottom:none;
				border-top:none;
				background:url(../images/input-tail.gif) 0 0 repeat-x;
				outline:none;
			}
			#contact-form .area .error { float:none;}
			#contact-form textarea {
				height:155px;
				margin:0;
				width:231px;
				padding:8px 10px;
				margin:0;
				font-family:Arial, Helvetica, sans-serif;
				font-size:13px;
				line-height:1.23em;
				color:#a29f87; 
				border-left:1px solid #e7e7e7;
				border-right:1px solid #e7e7e7;
				border-bottom:1px solid #edede9;
				border-top:1px solid #e7e7e7;
				background:#fff;
				overflow:auto;
				outline:none;
			}
			#contact-form a {cursor:pointer;}
				#contact-form .success {display:none; margin-bottom:20px;}
				#contact-form .error,
				#contact-form .empty {
					color:#f00;
					font-size:12px;
					line-height:1.25em;
					display:none;
					overflow:hidden;
				}
		.buttons-wrapper { padding:10px 0 0 0; text-align:right;}
		.buttons-wrapper a { margin-left:18px;}
		
/****************************footer************************/






		
#easyTooltip{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:2em;
	padding:0px 8px;
	color:#fff;
	border:1px solid #fff;
	background:#202020;
	position:relative;
	z-index:99;
}
		
/******* subscribe-form ********/
#subscribe-form {
	padding:2px 0 0 0;
}
#subscribe-form input {
	color:#878573; 
	width:247px; 
	font-size:13px;
	line-height:1.2em;  
	padding:7px 10px; 
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	background:#fff;
	border:none;
	outline:none;
}
#subscribe-form .button {
	display:inline-block; 
	padding:0 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:30px;
	color:#fff;
	background:url(../images/button-tail.png) 0 0 repeat;
	border-radius:13px;
}
#subscribe-form .button:hover {background:#dda702;}

#subscribe-form .alignright {padding-top:10px;}
