header
{
  position: relative;
  .skype
  {
    width: 55px;
    height: 55px;
    background-image: url("/images/skype-ico.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 20px;
  }
  #contact
  {
    position: relative;
    display: inline-block;
    float: right;
    margin: 20px 0 0 0;
    .phone-number
    {
      font-size: 55px;
      display: inline-block;
      position: relative;
      top: 20px;
    }
  }
  #language-select
  {
    position: relative;
    top:0;

  }
  .header-menu
  {
    position: relative;
    margin: 30px auto;
    .logo
    {
      float: left;
      width: 233px;
    }
    .menu-header
    {
      float: right;
      .menu {
        position: relative;
        top: 30px;
        li
        {
          display: inline-block;
          padding: 8px 10px;
          border-left: 1px solid #000000;
          &:first-child
          {
            border: none;
            padding-left:0;
          }
          a {
            display:inline-block;
            font-size:20px;
            line-height:1.23em;
            color:#40382f;
            cursor:pointer;
          }
          ul
          {
            display: none;
            position:		absolute;
            padding:		0;
            margin-left: -15px;
            margin-top: 8px;
            li
            {
              display: block;
              background: #e5ae25;
              border-top: 1px solid #000000;
              border-left: none;
              &:first-child
              {
                padding-left:15px;
                border: none;
              }
              a
              {
                color: #ffffff;
              }
              &:hover
              {
                color:#40382f;
              }
            }
          }
          &:hover
          {
            a
            {
              color:#e5ae25;
            }
            ul
            {
              display: block;
              li
              {
                a
                {
                  color: #ffffff;

                }
                &:hover
                {
                  background-color: #CADE55;
                }
              }
            }
          }
        }

      }
    }
  }
}
.link-for-site
{
  text-decoration: none;
  &:hover
  {
    text-decoration: underline;
  }
}
footer
{
  h4
  {
    font-size: 26px;
  }
  width:100%;
  padding:25px 0 35px;
  .footer-row
  {
    width:100%;
    padding:18px 0 25px;
    text-align:center;
    color:#816c54;
    background:#ffffff;
    strong
    {
      display:block;
      font-size:20px;
      line-height:1.2em;
      color:#816c54;
    }
    a
    {
      color:#816c54;
      &:hover
      {
        color:#e5ae25;
      }
    }
  }
  .list-services {
    padding:5px 0 0 0;
    margin-bottom:17px;
    width: 290px;
    li {
      float:left;
      padding:0 13px 0 0;
    }
    a {
      display:block;
      .write
      {
        height: 42px;
        overflow: hidden;
        background:url(/images/topLinks_sprite.png)  no-repeat;
        cursor: pointer;
        &.type-1
        {
          width: 125px;
          background-position: 0 0;
        }
        &.type-2
        {
          width: 125px;
          background-position: -152px 0;
        }
        &.type-3
        {
          width:  125px;
          background-position: -313px 0;
        }
        &.type-4
        {
          width: 125px;
          background-position: -488px 0;
        }
      }
    }
  }
}
.types
{
  width: 640px;
  overflow: hidden;
  position: relative;
  .type
  {
    float: left;
    width: 310px;
    height: 384px;
    margin: 5px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    background-repeat: no-repeat;
    .in-category
    {
      position: relative;
      display: none;
      top: -171px;
      width: 310px;
    }
    &:hover
    {
      cursor: pointer;
      .in-category
      {
        display: block;
      }
      figure
      {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE 6-9 */
        zoom: 1.05;
      }
    }
    figure
    {
      width: 310px;
      height: 384px;
      &.category-1
      {
        background-image: url("/images/flash-img1.jpg");
      }
      &.category-2
      {
        background-image: url("/images/flash-img2.jpg");
      }
      &.category-3
      {
        background-image: url("/images/flash-img3.jpg");
      }
      &.category-4
      {
        background-image: url("/images/flash-img4.jpg");
      }
    }
  }
}
.convas-box
{
  background-color: #ffffff;
  width: 980px;
  margin: 20px auto 40px;
  min-height: 300px;
  padding: 20px 10px;
}
.index-main
{
  width: 960px;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
  .index-left-box
  {
    width: 640px;
    float: left;
    overflow: hidden;
    article .wrapper article
    {
      width: 310px;
    }
  }
  .index-right-box
  {
    width: 320px;
    float: right;
  }
}
.popup
{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0, 0.8);
  top: 0;
  left: 0;
  z-index: 10;

    .container
    {
      width: 800px;
      height: 500px;
      margin-left: -400px;
      margin-top: -250px;
      background-color: #E9B425;
      top: 50%;
      left: 50%;
      position: fixed;
      &.loader
      {
        background-image:url("/images/ajax-loader.gif");
        background-position: center;
        background-repeat: no-repeat;
      }
      .close
      {
        width: 20px;
        height: 20px;
        background-image: url("/images/close.png");
        background-repeat: no-repeat;
        right: 0;
        left: 779px;
        cursor: pointer;
        position: relative;
      }
      .content
      {
        height: 480px;
        overflow-y: auto;
      }
    }


}
.hidden{
  display: none;
  visibility: hidden;
}
.pagination
{
  li{
    width: auto!important;
    height: auto!important;
    float:left;
    margin: 0 10px 0 0!important;
  }
}
.category-popup
{
  position: relative;
  width: 760px;
  overflow: hidden;
  height: 480px;
  margin: 0 auto;
  .about-category
  {
    width: 280px;
    padding: 0 15px;
    float: left;
    height: 460px;
    background-color: #C3DA4D ;
    overflow: auto;
    h1
    {
      font-size: 26px;
      color: #ffffff;
    }
    p
    {
      font-size: 14px;
      color: #ffffff;
    }
  }
  .list-category
  {
    width: 420px;
    float: right;
    height: 430px;
    padding: 0 15px 15px;

    .item-category
    {
      display: block;
      text-decoration: none;
      color: #816c54;
      cursor: pointer;
      width: 390px;
      padding: 10px 15px;
      margin: 10px;
      background-color: #FFFFFF;
      .title
      {
        font-size: 24px;
        border-bottom: 1px solid #816c54;
      }
      .about
      {
        font-size: 14px;
        color: #000000;
      }
      &:hover
      {
        background-color: #C3DA4D;
      }
      &:first-child
      {
        margin-top: 0;
      }
    }
  }
}

.titSlider {
  position: relative;
  .titSlider-controls {
    .titSlider-prev {
      display: block;
      position: absolute;
      top: 125px;
      z-index: 2000000;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background-image: url("/images/PfotoForSlider/slider_prev.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 16px;
      height: 26px;
      cursor: pointer;
    }
    .titSlider-state {
      display: none;
      margin: 0 20px;
      font-size: 14px;
      font-family: Arial;
      font-weight: bold;
      color: #2d2d2d;
      height: 21px;
      top: -5px;
      position: relative;
    }
    .titSlider-next {
      display: block;
      position: absolute;
      right: 0;
      top: 125px;
      z-index: 2000000;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background-image: url("/images/PfotoForSlider/slider_next.png");
      background-repeat: no-repeat;
      background-position: 0;
      width: 16px;
      height: 26px;
      cursor: pointer;
    }

  }
  .titSlider-item {
    position: absolute;
    top: 35px;
    left: 0;
    display: none;
    &.titSlider-active {
      display: block;
    }
  }
}

.feedback-footer
{
  fieldset
  {
    label
    {
      &.name
      {
        display: none!important;
      }
    }
    input
    {
      width: 195px!important;
    }
    textarea
    {
      display: none!important;
    }
  }
  #contact-form label.message
  {
    display: none!important;
  }
  #clear-feedback
  {
    display: none!important;
  }
}
.infoPage
{
  overflow: hidden;
  h3 {
    font-size: 38px;
    line-height: 2em;
    padding: 0 0 1px 10px;
    margin-bottom: 25px;
    color: #503618;
    background: url(../images/pic-3.gif) left bottom repeat-x;
  }
  img
  {
    float: left;
    padding: 0 20px 0 0;
  }
  .slider-box
  {
    float: left;
    padding: 0 20px 0 0;
    .titSlider-next
    {
      display: none;
    }
    .titSlider-prev
    {
      display: none;
    }
  }
  .video
  {
    width: 516px;
    margin: 0 auto;
    iframe
    {
      display: block;
      margin: 20px auto;
      position: relative;
    }
  }

}
.slider-goroskop
{
  width: 630px;
  margin: 5px;
  height: 384px;
  .small-slider
  {
    height: 324px;
    width: 630px;
    margin: 0 0 5px 0;
    overflow: hidden;
  }
  .goroskop-box
  {
    width: 630px;
    height: 55px;
    margin: 5px 0 0 0;
    display: block;
    background-color: #F8F7EF;
    text-decoration: none;
    .goroskop
    {
      font-size: 38px;
      line-height: 50px;
      text-align: center;
      color: #503618;
      text-decoration: none;
    }
  }
}
.userInfo
{
  width: 300px;
  margin: 30px auto;
  input
  {
    width: 231px;
    padding: 8px 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.23em;
    color: #a29f87;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: none;
    border-top: none;
    background: url(../images/input-tail.gif) 0 0 repeat-x;
    outline: none;
  }
  label
  {
    display: block;
  }
  select
  {
    width: 253px;
    padding: 8px 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.23em;
    color: #a29f87;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: none;
    border-top: none;
    background: url(../images/input-tail.gif) 0 0 repeat-x;
    outline: none;
  }
}