#language-select
{
    position: relative;
    float: right;
    height: 26px;
    top: -5px;
    padding: 0 0 0 0;
}
/*YON BEGIN*/
.uk
{
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #b22222 ;
    background-position: center 0;
    background-repeat: no-repeat;
}
.uk-active
{
    width: 26px;
    display: inline-block;
    height: 26px;
    background-color: #000090;
    background-position: center -26px;
    background-repeat: no-repeat;
}
.ru
{
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #b22222 ;
    background-position: center 0;
    background-repeat: no-repeat;
}
.ru-active
{
    width: 26px;
    display: inline-block;
    height: 26px;
    background-color: #000090;
    background-position: center -26px;
    background-repeat: no-repeat;
}
.en
{
    display: inline-block;
    background-color: #B8E834;
    width: 26px;
    height: 26px;
    background-position: center 0;
    background-repeat: no-repeat;
}
.en-active
{
    display: inline-block;
    background-color: #B8E834;
    width: 26px;
    height: 26px;
    background-position: center -26px;
    background-repeat: no-repeat;
}
.en-lang,
.en-lang .jq-selectbox__select-text {
    background: url(flags/en.png) no-repeat 3px 7px;
    padding: 0 0 0 24px;
}
.uk-lang,
.uk-lang .jq-selectbox__select-text {
    background: url(flags/uk.png) no-repeat 3px 7px;
    padding: 0 0 0 24px;
}
.ru-lang,
.ru-lang .jq-selectbox__select-text {
    background: url(flags/ru.png) no-repeat 3px 7px;
    padding: 0 0 0 24px;
}
.jq-selectbox li {
    padding: 5px 24px 0px;
    color: #231F20;
}
/*Yon end*/